<nav class="navbar navbar-inverse" id="nav">
    <div class="container">
        <%= link_to 'Alpha-Blog', {controller: "pages", action: "home"}, class: "navbar-brand"%>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Home', {controller: "pages", action: "home"} %></li>   
            <li><%= link_to 'About', {controller: "pages", action: "about"} %></li>
            <li><%= link_to 'Blob', {controller: "articles", action: "index"} %></li>     
        </ul>
    </div>
</nav>
<header class="jumbotron">

    <div class="container">
    <h1>Alpha-Blog</h1>
    </div>
</header>

<section class="container">
    <h2>This is the About page!</h2>
    <hr>
   <div class="row">
    <div class="col-md-4">
    <figure>
        <img src="http://www.fillmurray.com/450/600" alt="Bill Murray">
        <figcaption>image from <a href="www.fillmurray.com">Fill Murray</a></figcaption>
    </figure>
    </div>
    <div class="col-md-8 well about-well">
    <h3>About Us!</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus eligendi molestias voluptate, deleniti deserunt, unde porro quidem perferendis nesciunt iusto magni omnis labore nulla maiores in nisi ut temporibus doloremque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque nemo autem, officia sapiente inventore quasi est, vitae soluta. Voluptatem quidem alias hic obcaecati consequuntur autem dicta ipsum distinctio quia minus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut maxime, a iure molestiae modi earum voluptate officia voluptatibus aliquam assumenda. Ut tenetur autem libero tempore blanditiis, incidunt atque fuga, ex.</p>
    <h3>A Little Known Fact</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quidem natus error unde et deserunt at aliquam blanditiis, fugiat cupiditate voluptates nemo? Dolor illo vero alias fuga inventore magni adipisci.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur sunt incidunt eius amet! Nostrum sit dolorem autem ullam, rem. Distinctio, unde quas. Porro nesciunt pariatur libero cumque laboriosam recusandae itaque!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam architecto cumque mollitia facere veritatis. Ducimus et non dolores distinctio, enim consequuntur! Ut non totam inventore! Consequuntur nisi perspiciatis quam a.</p>
    </div>
   </div> 
    
</section>

<footer>
    <div class="container">
        <p>Contact Us: <a href="eandy5000@yahoo.com">eandy5000@yahoo.com</a></p>
    </div>
</footer>